<div class="header">
<div class="nav">
      <div class="container">
        <ul>
         <a href="/home"><li>Home</li></a>
          <a href="/about"><li>About</li></a>
          <a href="/contact"><li>Contact</li></a>
          
          </ul>
      </div>
    </div>
  </div>


<div class="main">
<div class="container">
 <p> Stories  </p>
 <a href ="https://americanliterature.com/author/kate-chopin/short-story/the-story-of-an-hour">The Story of An Hour</a><br>
 <a href ="https://americanliterature.com/author/o-henry/short-story/the-cactus"> The Cactus Regret</a><br>
  <a href ="https://americanliterature.com/author/kate-chopin/short-story/regret">The Brave Tin Soldier</a><br>
  <a href ="https://americanliterature.com/author/kate-chopin/short-story/a-pair-of-silk-stockings"> A Pair of Silk Stockings</a><br>
 <a href ="https://americanliterature.com/author/o-henry/short-story/the-gift-of-the-magi">The Gift of the Magi Desiree's Baby</a><br>
  <a href ="https://americanliterature.com/author/o-henry/short-story/the-skylight-room"> The Skylight Room Araby</a><br>
  <a href ="https://americanliterature.com/author/ts-arthur/short-story/an-angel-in-disguise">A Dark Brown Dog An Angel in Disguise</a><br>
 <a class="btn" href="/signups/new">signup</a>
  </div>
  
</div>
  
 <div class="footer">
     
<p>&copy; 2015 Saravanan Vasu</p>
 </div>
 </div>




