<div class="header">
<div class="nav">
      <div class="container">
        <ul>
         
         
         <a href="home"><li>Home</li></a>
          <a href="about"><li>About</li></a>
          <a href="contact"><li>Contact</li></a>
          
          </ul>
      </div>
    </div>

<div class="main">
    <div class="container">
      
<p> Atomic It Solutions  </p>
      <p> Mugappair,Chennai </p>
</div>
</div>

<div class="footer">
     
<p>&copy; 2015 Saravanan Vasu</p>
 </div>
 </div>




