<div class="header">
<div class="nav">
      <div class="container">
        <ul>
         
         
         <a href="home"><li>Home</li></a>
          <a href="about"><li>About</li></a>
          <a href="contact"><li>Contact</li></a>
          
          </ul>
      </div>
    </div>

<div class="main">
    <div class="container">
      
<p> Creative Stories  </p>
<a class="btn" href="/about">Learn more</a>
</div>
</div>

<div class="footer">
     
<p>&copy; 2015 Saravanan Vasu</p>
 </div>
 </div>




